.App {
  justify-content: left;
  background-image: url(./assets/DSCF7047.jpg);
  background-color: rgb(0,0,0,0.5);
  background-size: contain;
  background-blend-mode: color-burn;
  height: 200%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  min-width: 1500px;
}

.container2 {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 80%;
  position: relative;
  left: 10%;
  padding-top: 100px;
}
.container2 > h1 {
  text-align: center;
}
.container2 > img {
  position: absolute;
  left:2%;
  top: 20px;
}
.container {
  background-image: url(./assets/Border.png);
  background-size: 100% 700px;
}

.peoplePhoto {
  height: 600px;
  width: auto;
  object-fit: cover;
  justify-content: right;
  display: flex;
  margin-bottom: 100px;
}
.peoplePhoto > img {
  height: 400px;
  width: 250PX;
  object-fit: cover;
  margin-bottom: 10px;
  position: relative;
  left: 200px;
  top:150px;
  display: flex;
  border: solid 5px rgb(0, 0, 0);
}
.peoplePhoto > h3 {
  position: relative;
  text-align: left;
  margin-bottom: -12px;
  position: relative;
  left: 500px;
  top: -250px;
  width:400px;
}
.peoplePhoto > h2 {
  position: relative;
  text-align: left;
  margin-bottom: -12px;
  position: relative;
  left: 500px;
  top: -250px;
  width:400px;
  font-size: 30px;
  border-bottom: dashed 3px black;
}
.peoplePhoto > h1 {
  position: relative;
  text-align: left;
  margin-bottom: -12px;
  position: relative;
  left: 500px;
  top: -300px;
  font-size: 110px;
  width:400px;
}